{% extends 'admin/base.html.twig' %}

{% block container %}
<div class="row border">
    <!-- Import -->
    <form action="" class="row col-12" id="importform" method="POST">
        <div class="form-group col-12">
            <h2><label for="importfile">Importer la liste des biens (format CSV)</label></h2>
            <input type="file" name="exportfile" id="importfile" class='form-control'>
        </div>
        <div class="col-12 text-center mb-2">
            <button class="btn btn-primary">Analyser</button>
        </div>
    </form>
    <div class="col-12" id="analyseimport">
        {% if analyse %}
        <div class="col-12 text-center bg-light">
            <span>Résultat de l'analyse</span>
            <span>Nombre d'enregistrements : {{ analyse.count }} </span>
        </div>
        {% endif %}
    </div>
</div>
<div class="row border">
    <!-- Export -->
    <div action="" class="col-12" id="exportform">
        <div class="form-group col-12">
            <h2>Exporter la liste des biens (format CSV)</h2>
        </div>
        {{ form_start(formExport) }}
        <div class="row align-items-end col-12">
            <div class="col-12 col-md-4">{{ form_row(formExport.minDate) }}</div>
            <div class="col-12 col-md-4">{{ form_row(formExport.maxDate) }}</div>
            <div class="col-12 col-md-4">{{ form_row(formExport.submitExport) }}</div>
        </div>
        {{ form_end(formExport) }}
    </div>
</div>
{% endblock %}