{% extends 'admin/base.html.twig' %}

{% block container %}
<div class="text-center">
    <h1>Listes des Utilisateurs</h1>
    <table class='table table-striped'>
        <thead>
            <tr>
                <!-- <th></th> -->
                <th>Utilisateur</th>
                <th>Objet</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for mail in mails %}
            <tr>
                {% if mail.isread %}
                <td>{{ mail.iduser.email }}</td>
                <td>{{ mail.objectmessage }}</td>
                {% else %}
                <td><b>{{ mail.iduser.email }}</b></td>
                <td><b>{{ mail.objectmessage }}</b></td>
                {% endif %}
                <td><a href="{{ path('adminmailsview', {id: mail.id}) }}">Voir</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div>
        <a class='btn btn-primary' href="{{path('adminusersadd')}}">Ajouter un utilisateur</a>
    </div>
</div>
{% endblock %}