{% extends 'admin/base.html.twig' %}


{% block container %}
<div class="text-center mt-4">
    <h1>Ajouter un bien</h1>
</div>

{{ form_start(form, {'method': 'POST'}) }}
{{ form_errors(form) }}
{{ form_row(form.label) }}
<div class="row">
    <div class="col-4">{{ form_row(form.idpropertytype) }}</div>
    <div class="col-4">{{ form_row(form.isrental) }}</div>
    <div class="col-4">{{ form_row(form.price) }}</div>
</div>
<div class="row">
    <div class="col-12 col-md-6 col-lg-3">{{ form_row(form.energyclass) }}</div>
    <div class="col-12 col-md-6 col-lg-3">{{ form_row(form.livingspace) }}</div>
    <div class="col-12 col-md-6 col-lg-3">{{ form_row(form.rooms) }}</div>
    <div class="col-12 col-md-6 col-lg-3">{{ form_row(form.bedrooms) }}</div>
</div>
{{ form_row(form.iduser) }}
{{ form_row(form.description) }}
<div class="row">
    <div class="col-12 d-none">
        {{ form_row(form.ref) }}
    </div>
    <div class="col-12 ">
        <fieldset class="border pl-2">
            <legend class="w-auto ml-2">Status</legend>
            <div class="row">
                <div class="col-6">{{ form_row(form.isvisible) }}</div>
                <div class="col-6">{{ form_row(form.istop) }}</div>
            </div>
        </fieldset>
    </div>
</div>
<div class="row  pt-2">
    <div class="col-4">
        {{ form_row(form.image1) }}
    </div>
    <div class="col-4">
        {{ form_row(form.image2) }}
    </div>
    <div class="col-4">
        {{ form_row(form.image3) }}
    </div>
</div>

<fieldset class='border px-1 mb-2'>
    <legend class="w-auto ml-2">Adresse</legend>
    {{ form_row(form.idaddress.address1) }}
    {{ form_row(form.idaddress.address2) }}
    {{ form_row(form.idaddress.address3) }}
    {{ form_row(form.idaddress.address4) }}
    <div class="row">
        <div class="col-6">{{ form_row(form.idaddress.postcode) }}</div>
        <div class="col-6">{{ form_row(form.idaddress.city) }}</div>
    </div>
    <div class="row">
        <div class="col-6">{{ form_row(form.idaddress.state) }}</div>
        <div class="col-6">{{ form_row(form.idaddress.country) }}</div>
    </div>
</fieldset>
{{ form_row(form.submit, { 'label': 'Ajouter le bien' }) }}
{{ form_end(form) }}

{% endblock %}