{% extends 'admin/base.html.twig' %}


{% block container %}
<div class="text-center mt-4">
    <h1>Ajouter un bien</h1>
</div>

{{ form_start(form, {'method': 'POST'}) }}
{{ form_errors(form) }}
{{ form_row(form.label) }}
<div class="row">
    <div class="col-6">{{ form_row(form.idpropertytype) }}</div>
    <div class="col-6">{{ form_row(form.isrental) }}</div>
</div>
<fieldset>
    <legend>Adresse</legend>
    {{ form_row(form.idaddress.address1) }}
    {{ form_row(form.idaddress.address2) }}
    {{ form_row(form.idaddress.address3) }}
    {{ form_row(form.idaddress.address4) }}
    <div class="row">
        <div class="col-6">{{ form_row(form.idaddress.postcode) }}</div>
        <div class="col-6">{{ form_row(form.idaddress.city) }}</div>
    </div>
    <div class="row">
        <div class="col-6">{{ form_row(form.idaddress.state) }}</div>
        <div class="col-6">{{ form_row(form.idaddress.country) }}</div>
    </div>
</fieldset>
{{ form_row(form.submit, { 'label': 'Ajouter le bien' }) }}
{{ form_end(form) }}

{% endblock %}